/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 20px 0;
  transition: 0.3s;
}

/* Saat Scroll */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  padding: 15px 0;
}

/* Container */
.navbar-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #364872;
  letter-spacing: 1px;
}

/* Menu */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

/* Hover underline animation */
.nav-menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #364872;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-menu a:hover::after {
  width: 100%;
}

.nav-menu a:hover {
  color: #364872;
}